* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    background-color: rgb(255, 0, 0);
}



header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
    color: #ffffff;
    font-size: 15px;
}

.containerDati {
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 800px;
    height: 200px;
    margin: 0 auto;
}

.user-form {
    margin: 0 auto;
}

.datiUtente {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 50px;
    gap: 50px;
}

.form-control {
    width: 200px;
    padding: 10px 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    cursor: pointer;
}

.nomeCognome {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}

.chilometri {
    display: flex;
    flex-direction: column;

    align-items: center;
    margin-bottom: 20px;
}

.eta {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}



.containerbtn {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 50px;
    gap: 50px;
}


.btn {
    width: 100px;
    padding: 10px 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    cursor: pointer;
}
}